body{
  font-family: Arial, Helvetica, sans-serif;
}

#cookie-banner {
  position: fixed;
  bottom: 10px;
  left: 1000px;
  right: 10px;
  background-color:#ddd8d8 ;
  color: #333;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
  z-index: 1000;
  border-radius: 15px;
}

#cookie-banner p {
  margin: 0;
  flex: 1;
}

#accept-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 14px;
  width: 250px;
  height: 40px;
}

#accept-btn button:hover {
  background-color: #45a049;
}
#decline-button {
 position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 25px;
  color: #333;
  cursor: pointer;
}

#decline-button:hover {
  background-color: #c9302c;
}
